@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:10px;
    border-radius: 4px;
}

.logo {
    width: 100px;
    height: 75px;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px
}

.card {
    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
}


.card > img {
    width: 100%;
}

.card > h2 {
    font-size: large;
}
.card > h3 {
    font-size: medium;
}
.card > h4 {
    font-size: small;
}

.card > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.restaurant-list {
    margin: 40px auto;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
}

.search{
    display: flex;
    margin-top: 50px ;
    align-items: center;
    justify-content: center;
  
}

.search > input {
    width: 450px;
    height: 30px;
    padding-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: medium;
}

.search-button:hover {
    cursor: pointer;
}

.search-button {
    height: 30px;
    padding: 0 10px;
    font-size: medium;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 4px;
}

.footer-list {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
    list-style: none;
}

.footer-list > ul > li > h1 {
    font-size: large;
    margin: 50px;
}

